.App {
  text-align: center;
  overflow: hidden;
}

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: #3c3c3c;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.text-align-left-md {
  text-align: left;
}

.text-align-right-md {
  text-align: right;
}

.padding-md {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.title-md {
  font-size: 2.7rem;
  display: flex;
  flex-flow: row;
  font-weight: bold;
}

.navbar-md {
  margin: 50px;
}

@media only screen and (max-width: 700px){
  .text-align-sm {
    text-align: left;
  }
  .padding-sm {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .navbar-sm {
    margin: 0;
  }
}  

