.App {
  overflow: hidden;
}

/* import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.info-md {
  font-size: 1.6rem;
}

/* carousel design */

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.carousel-caption {
  position: static;
}

.carousel-caption {
  padding: 50px 200px;
}

.text-align-left-md {
  text-align: left;
}

.text-align-right-md {
  text-align: right;
}

.padding-md {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.title-md {
  font-size: 2.8rem;
  display: flex;
  flex-flow: row;
  font-weight: bold;
}

.navbar-md {
  margin: 50px;
  background-color: #111111;
}

.footer-md {
  background-color: #111111;
  height: 30vh;
  margin-top: 40px;
}

.footer-text-align-md {
  text-align: left;
  align-self: center;
}

.head-size-md{
  font-size: 2.4rem;
}

.non-head-size-md {
  font-size: 1.8rem;
}

.card-md{
  padding: 60px;
}

@media only screen and (max-width: 768px) {
  .info-sm {
    font-size: 1rem;
  }
  .title-sm{
    font-size: 1.8rem;
  }
  .text-align-sm {
    text-align: left;
  }
  .padding-sm {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .navbar-sm {
    margin: 0;
  }
  .footer-sm {
    padding: 50px;
    height: 70vh;
  }
  .footer-text-align-sm {
    text-align: center;
    margin-top: 20px;
  }
  .carousel-caption {
    padding: 50px 20px;
  }
  .head-size-sm {
    font-size: 1.7rem;
  }
  .non-head-size-md {
    font-size: 1.2rem;
  }
  .carousel-control-next,
  .carousel-control-prev{
    display: none;
  }
  .card-sm {
    padding: 0px;
  }
}